 <div style="margin-top: 60px;position: absolute">
    <h2>Our Services</h2>
<div class='card-group' >

    <div class='card-container'>
        <div class='card-bg-img' ><img src="../../../../../assets/img/Pharmacy-Service.jpg" alt="" style="width: 100%;height: 20%;">
    </div>
    <div class='card-heading'>
      <span class='card-title'>Pharmacy</span>
      
    </div>
    <div class='card-body'>
        Pharmacy Services is a Specialty Pharmacy with collectively over 100 years of customer service providing medications nationally.
    </div>
    
  </div>

  <div class='card-container'>
    <div class='card-bg-img '><img src="../../../../../assets/img/Xray-Service.jpg" alt="" style="width: 100%;height: 20%;" ></div>
    <div class='card-heading'>
      <span class='card-title'>X-ray Scaning</span>
      
    </div>
    <div class='card-body'>
        Our X-ray scanning service is flexible, scalable and tailor-made to provide easy conversions of medical, veterinary and pipeline x-rays to a digital format. Whether you have a small collection of x-rays or a large archive collection in your department or clinic, we can digitise them to your required format such as DICOM, TIFF, PDF and JPG with a fast turn-around time.
    </div>
  </div>
  
  <div class='card-container'>
    <div class='card-bg-img '><img src="../../../../../assets/img/MRI-service.jpg" alt="" style="width: 100%;height: 20%;"></div>
    <div class='card-heading'>
      <span class='card-title'>MRI Scaning</span>
      
    </div>
    <div class='card-body'>
        A MRI (Magnetic Resonance Imaging) scan uses strong magnetic and radio waves to produce detailed images of the inside of the human body without using X-rays.
    </div>
  </div>
  
  <div class='card-container'>
    <div class='card-bg-img'> <img src="../../../../../assets/img/Dental-Service.jpg" alt="" style="width: 100%;height: 20%;"></div>
    <div class='card-heading'>
      <span class='card-title'>Dental Clinic</span>
      
    </div>
    <div class='card-body'>
        Our Dental Clinic puts perfect smiles on our patient’s faces. Our state of- the-art facility offers dentistry as well as cosmetic dentistry, enhancing your quality of life and giving you healthy and beautiful teeth at an affordable price. Our Clinic provides preventive, cosmetic, prosthetic and periodontal dentistry and also performs more complex oral surgeries.
    </div>
  </div>

</div>



<b><h2 >Our Doctors</h2></b>
<div id="doc" class='card-group card-profile'>
  <div class='card-container'>
    <div class='card-bg-img'><img src="../../../../../assets/img/Doctor-with-Tablet.jpg" alt="" style="width: 100%"></div>
    <div class='card-profile-img'>
      <img src='../../../../../assets/img/Doctor-with-Tablet.jpg'>
    </div>
    <div class='card-heading'>
      <span class='card-title'>John Smith</span>
    </div>
    <div class='card-body'>
      Here's some card content for you to read... Cards on the same line will always be the same height.
    </div>
  </div>

  <div class='card-container'>
    <div class='card-bg-img'><img src="../../../../../assets/img/how-to-find-a-doctor-in-croatia.jpg" alt="" style="width: 100%"></div>
    <div class='card-profile-img'>
      <img src='../../../../../assets/img/how-to-find-a-doctor-in-croatia.jpg'>
    </div>
    <div class='card-heading'>
      <span class='card-title'>John Miller</span>
    </div>
    <div class='card-body'>
      Here's some card content for you to read...
    </div>
  </div>

  <div class='card-container'>
    <div class='card-bg-img'><img src="../../../../../assets/img/euthanasia-doctor-1.jpg" alt="" style="width: 100%"></div>
    <div class='card-profile-img'>
      <img src='../../../../../assets/img/euthanasia-doctor-1.jpg'>
    </div>
    <div class='card-heading'>
      <span class='card-title'>Tim Berg</span>
      
    </div>
    <div class='card-body'>
      Here's some card content for you to read...
    </div>
  </div>

  <div class='card-container'>
    <div class='card-bg-img'><img src="../../../../../assets/img/doctor.jpg" alt="" style="width: 100%"></div>
    <div class='card-profile-img'>
      <img src='../../../../../assets/img/doctor.jpg'>
    </div>
    <div class='card-heading'>
      <span class='card-title'>Kitty Sello</span>
    </div>
    <div class='card-body'>
      Here's some card content for you to read...
    </div>

    
  </div>
</div>


</div>

